.item-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: var(--background-color);
    cursor: pointer;
    margin-bottom: 0.25rem;
}

.item-button.selected {
    background-color: var(--primary-color);
    color: #fff;
}

.item-button-icon {
    font-size: 1.2rem;
}
