:root {
    --primary-color: #2b7cc7;
    --secondary-color: #003b7a;
    --background-color: #ffffff;
    --text-color: #222222;
    --button-hover-color: #5ab4ff;
    --disabled-color: #b9c4d1;
    --error-message-color: #888;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
