:root {
    --primary-color: #4caf50;
    --secondary-color: #1a371b;
    --background-color: #fff;
    --text-color: #212121;
    --button-hover-color: #b4eeb7;
    --disabled-color: #bdbdbd;
    --error-message-color: #888;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
